.infografico {
    justify-content: center; /* Centraliza verticalmente o conteúdo */
    align-items: center; /* Centraliza horizontalmente o conteúdo */
    height: 86vh; /* Define a altura da seção como 100% da altura da janela de visualização */
}
.carousel {
    width: 100%; 
    margin: 0 auto;
    color: white;
    text-align: center;
    align-items: center;
    padding: 50px;
}

.carousel p{
    color: white;
}
  
.carousel-item {
    display: none;
    
}
  
  .carousel-item.active {
    display: block;
    text-align: center;
    align-items: center;
}

  
.custom-icon-button{
    background-color: (var(--blue-secundary));
}
.img-icon-button{
    width: 3rem;
}

/*Capa*/

.capaInfografico {
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    height: 100%; /* Garante que a altura da capaInfografico seja igual à altura do carousel-item */
}

.infograficoInicioEsquerdo, .infograficoInicioDireito {
    flex: 1; /* Faz com que ambas as partes ocupem a mesma quantidade de espaço */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    height: 100%; /* Garante que ambas as partes ocupem toda a altura da capaInfografico */
}
.capaInfografico{
    display: flex;
    flex-direction: row;
}
.titulo1Infografico{
    font-size: 3.5rem;
    font-weight: 900;
    border-bottom: 10px solid white; 
    padding-bottom: 2px;

}
.titulo2Infografico{
    font-size: 4rem;
    font-weight: 900;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.imagem1CapaInfografico{
    width:100%;
}
.imagem2CapaInfografico{
    width:70%;
}

.infograficoInicioEsquerdo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.infograficoInicioDireito{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


/*pagina 3*/
.tituloPagina3{
    margin-bottom: 30px;
}
.analiseAtividades{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    padding: 50px;
}


th, td {
    border: 3px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 33%;
}
.iconeColuna{
    width: 10rem;

}

.colunaEntregue, .colunaNomeEntregue{
    background-color: #2FF057;
    height: 4rem;
    font-size: 3rem;
    font-weight: 800;
}
.colunaEmAndamento, .colunaNomeEmAndamento{
    background-color: #06497A;
    height: 4rem;
    font-size: 3rem;
    font-weight: 800;
}
.colunaNaoEntregue, .colunaNomeNaoEntregue{
    background-color: #E7110F;
    height: 4rem;
    font-size: 3rem;
    font-weight: 800;
}

.colunaNomeEntregue,
.colunaNomeEmAndamento, 
.colunaNomeNaoEntregue{
    opacity: 0.9;

}

td{
    height: 5rem;
    
}
.codigoAtividade{
    font-size: 2rem;
    font-weight: 700;
}

/*Pagina 4*/

.AnaliseUsuarios{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 10px;
    padding: 10px;
    margin: 20px;
} 

.divUsuario{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px; 
    justify-content: space-between;
} 

.cont1  img, .cont2  img, .cont3 img{
    width: 100px;
    height: 100px;
}