.carousel2 {
    width: 100%; 
    margin: 0 auto;
    color: white;
    text-align: center;
    align-items: center;
    padding: 50px;
    
}


  
.carousel-item2 {
    display: none;
    
}
  
.carousel-item2.active {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    

    

}

@keyframes animacao {
    /* 0%   {height: 8rem; width: 11rem;}
  25%  {height: 9rem; width: 12rem;}
  50%  {height: 10rem; width: 13rem;}
  100% {height: 11rem; width: 14rem;} */
    /* 0%   {opacity: 0.2; height: 8rem; width: 11rem;}
  25%  {opacity: 0.5; height: 9rem; width: 12rem;}
  50%  {opacity: 0.8; height: 10rem; width: 13rem;}
  100% {opacity: 1; height: 11rem; width: 14rem;} */

  from {opacity: 0.2;}
  to {opacity: 1;}
}


  
.custom-icon-button{
    background-color: (var(--blue-secundary));
}
.img-icon-button{
    width: 3rem;
}



#carousel2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    
}



.retangulo-informacao h3, p{
    color:white;
}

#entrega-atividades-ex2 {
    padding-left: 10%;
    padding-right: 10%;
}

#entrega-atv-superior2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

#entrega-atv-superior2 p {
    color: #003585;
    font-size: medium;
    font-weight: 500;
    margin-top: 8px;
}

#nextButton2, #prev-button2 {
    cursor: pointer;
}

#title-right {
    text-align: end;
}




.Grafico2{
    max-width: 20rem;
    max-height: 20rem;
}

.divDescricaoUsuario{
    
}
.nomeDoPerfil{
    font-size: 50px;
    font-family: var(--font-body);
    font-weight: 800;
    color: #105180;
    margin-bottom: 20px;

}

.porcentagemEntrega{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) , rgba(255,255,255, 0.8));
    width: 12rem;
    color: #00B4FE;
    border-radius: 25px;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


.descricaoEntrega{
    font-size: 20px;
    font-family: var(--font-body);
    font-weight: 600;
    color: #105180;
}