
.carousel {
    width: 100%; 
    margin: 0 auto;
    color: white;
    text-align: center;
    align-items: center;
    padding: 50px;
}

.carousel p{
    color: white;
}
  
.carousel-item {
    display: none;
    
}
  
  .carousel-item.active {
    display: block;
    text-align: center;
    align-items: center;
}

  
.custom-icon-button{
    background-color: (var(--blue-secundary));
}
.img-icon-button{
    width: 3rem;
}

/*Capa*/

.capaInfografico{
    display: flex;
    flex-direction: row;
}
.titulo1Infografico{
    font-size: 8rem;
    font-weight: 900;
    justify-content:right;
    
    

}
.titulo2Infografico{
    font-size: 3rem;
    font-weight: 900;
    text-align: right;

}

.imagemCapaInfografico{
    width:100%;
}


.infograficoInicioEsquerdo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.infograficoInicioDireito{
    display: flex;
    flex:1;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


/*pagina 3*/
.tituloPagina3{
    margin-bottom: 30px;
}

.analiseAtividades{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}


.iconeColuna{
    width: 5rem;
}

.colunaEntregue p, .colunaEmAndamento p, .colunaNaoEntregue p {
    font-size: 2rem;
    font-weight: 700;
    margin: 5px;
}
.colunaEntregue, .colunaEmAndamento, .colunaNaoEntregue {
    width: 30%; 
    display: inline-block;
    vertical-align: top;

    margin-right: 10px;
    border-radius: 40px;
    padding: 20px;
}
.colunaEntregue, .colunaNomeEntregue{
    background-color: #0AC330;
    font-size: 3rem;
    font-weight: 800;
}
.colunaEmAndamento, .colunaNomeEmAndamento{
    background-color: #06497A;
    font-size: 3rem;
    font-weight: 800;
}
.colunaNaoEntregue, .colunaNomeNaoEntregue{
    background-color: #E7110F;

    font-size: 3rem;
    font-weight: 800;
}





/*Pagina 4*/

.AnaliseUsuarios{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 10px;
    padding: 10px;
    margin: 20px;
} 

.divUsuario{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px; 
    justify-content: space-between;
} 

.cont1  img, .cont2  img, .cont3 img{
    width: 100px;
    height: 100px;
}