
/*Grafico 01*/

.divGrafico1{
    background-color: var(--blue-primary);
    border-radius: 40px;
    padding: 20px;
    min-height: 39%;
    min-width: 15rem;
    margin-top: 30px;
    box-shadow: -10px -10px 0 0 #124A73

}

.containerGrafico1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divContainerGrafico1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nomeDivGrafico1{
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size:1.5em;

}

.Grafico1 {
    max-width: 12rem;
    max-height: 12rem;
    margin-right: 10px;
}

.divPercentual{
    color:white;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.percentualDeConclusao{
    font-size: 3em;
    font-weight: 700;
    color: #2FF057;
}
.percentualDeNaoConclusao{
    font-size: 3em;
    font-weight: 700;
    color:#E7110F;
}

/*Grafico 2*/


.divGrafico2{
    background-color: var(--blue-primary);
    display: flex;
    flex-direction: column;
    height: 86.5vh;
    justify-content: space-between;
    min-width:20rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 20px;
    box-shadow: -10px -10px 0 0 #124A73
    
}

.containerGrafico2{
    display: flex;
    flex-direction: column;
}
.tituloGrafico2{
    font-size:1.5em;
    font-weight: 700;
    margin-left: 5px;
    color: white;
}
.divNomePerfilGrafico2{
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
}


.imagemPerfil {
    position: absolute;
    min-width: 7rem;
    z-index: 999;
    right: 40px;
    left: 0;
    top:0;
}


.nomeDoPerfilGrafico2{
    position: absolute;
    top:20px;
    left: 70px;
    color: var(--white);
    border: 1px solid white;
    border-radius: 20px;
    min-width: 11rem;
    max-width: 25rem;
    width: 70%;
    min-height: 1rem;
    max-height: 3rem;
    word-wrap: break-word;
    border-color: white;
    margin-right: 20px;
    box-sizing: border-box;
    padding: 3px;
    font-size: 20px;
    font-weight: 700;
}


.divContainerGrafico2{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
}
.Grafico2{
    margin-top: 30px;
    max-width: 8rem;
    max-height: 8rem;
    margin-right: 10px;

}
.divDescricaoGrafico2{
    margin-top: 80px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}




/*Grafico 3*/


.containerGrafico3{
    margin-top: 30px;
    background-color: var(--blue-primary);
    min-width:20rem;
    min-height: 39%;
    padding: 20px;
    border-radius: 40px;
    justify-content: space-between;
    box-shadow: -10px -10px 0 0 #124A73
}

.nomeDivGrafico3{
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size:1.5em;
}

.Grafico3{
    max-width: 12rem;
    max-height: 12rem;
    margin-right: 10px;

}
.divContainerGrafico3{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    
}

.divPorcentageGrafico3{
    color:red;
    font-size: 2.5em;
    font-weight: 800;
    
}
.maiorStatusDeEntrega{
    font-size:1em;
    color:red;
    font-weight: 600;
}

/*Grafico 4*/

.containerGrafico4{
    margin-top: 20px;
    background-color: var(--blue-primary);
    min-width:25rem;
    min-height: 27.5vh;
    height: auto;
    text-align: center;
    justify-content: center;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    box-shadow: -10px -10px 0 0 #124A73
  
}
.divmMaiorGrafico4{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    
}
.tituloGrafico4{
    font-size:1.5em;
    font-weight: 700;
    margin-left: 10px;
}

.imagemgrafico4{
    width: 20%;
    
}
.divDescricaoGrafico4{
    margin-top: 20px;
    text-align: center;
}
.atividadeMaiorAproveitamento{
    font-size: 20px;
    font-weight: 700;
}
.divDescricaodetalhadaGrafico4{
    margin-top: 10px;
    text-align: center;
}

/*Grafico 5*/


.containerGrafico5{
    margin-top: 20px;
    background-color: var(--blue-primary);
    min-width:25rem;
    width: 100%;
    min-height: 27.5vh;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    box-shadow: -10px -10px 0 0 #124A73
   
}
.divmMaiorGrafico5{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.tituloGrafico5{
    font-size:1.5em;
    font-weight: 700;
    margin-left: 10px;
}
.imagemgrafico5{
    width: 30%;

}

.divDescricaoGrafico5{
    margin-top: 20px;
    text-align: center;
}
.divDescricaoGrafico5{
    margin-top: 20px;
    text-align: center;
}
.nomeDoPerfilGrafico5{
    font-size: 20px;
    font-weight: 700;

}
.divDescricaodetalhadaGrafico5{
    margin-top: 10px;
    text-align: center;
}


/*Grafico 6*/

.containerGrafico6{
    background-color: var(--blue-primary);
    min-width:25rem;
    min-height: 27.5vh;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    box-shadow: -10px -10px 0 0 #124A73
}

.tituloGrafico6{
    text-align: center;
    font-size:1.5em;
    font-weight: 800;
    margin-bottom: 30px;
}
.imagemgrafico6{
    width: 20%;
}
.containerMenorGrafico6{
    display: flex;
    flex-direction: row;

}

.divQuantidadeAtividades, .divQuantidadeAtividadesEntreges{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5px;
   
}

.divDescricaoGrafico6, .divDescricaodetalhadaGrafico6{
   padding: 10px;
   min-width: 80%;
}

.quantidadeAtividades, .quantidadeAtividadesEntreges{
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    font-size: 30px;
    font-weight: 700;
    background-color: #144C75;
}





.containerGrafico7{
    margin-top: 30px;
    background-color: var(--blue-primary);
    min-width:20rem;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    box-shadow: -10px -10px 0 0 #124A73
}
.imagemgrafico7{
    min-width: 5rem;
}