.container {
    display: flex;
    flex-direction: column;
}

.section {
    min-width: 20rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 3rem 0;
}
.icon {
    height: 250px;
    width: 250px;
}

.impar {
    background-color: var(--secondary-color);
    color: var(--white);
    
}

.par {
    color: var(--text-color);
}

.left, .right{
    width: 50%;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

}

.left {
    display: flex;
    text-align: start;
    padding-left: 20%;
    align-items: flex-start;
    justify-content: center;
}

.right {
    padding-right: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: end;
}

.button-home {
    background-color: var(--blue-primary);
    border-radius: 5px;
    width: 7rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
  
}


.footer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    height: 4rem;
    background-color: var(--blue-primary);
    justify-content: center;
    align-items: center;
}


.footer svg {
    color: var(--white);
}

/* .iconsImpar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.iconsPar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
} */

@media screen and (max-width: 860px) {
    .icon {
        height: 150px;
        width: 150px;
    }

   .left {
    padding-left: 8%;
   }

   .right {
    padding-right: 8%;
   }
    
}