/*HEADER*/
.buttonInfografico{
    background-color: #1D4C91;
}

body {
    background-color: var(--white-primary);
}

.infografico{
    display: flex;
    flex-direction: column;
}
.linhaAzul{
    margin-top: 20px;
    width: 50%; 
    height: 1px; 
    margin: 20px auto; 
    border: none; 
    background-color: #1A40F2; 
   
 
}

/*titulo infografico*/
.tituloInfografico{
    margin-top: 30px;
    justify-content: center ;
    width: 100%;
    display: flex;
    gap:100px;
    align-items: center;
    text-align: center;    
}
.imageminfo{
    max-width: 50%;
    height: auto;
}
.imagemTitulo{
    max-width: 50%;
    height: auto;
}



/* conclusão de atividades*/
.entregaProduto{
    margin-top: 30px;
}
.containerGrafico{
    text-align: center
}
.descricaoConclusaoAtividades{
    justify-content: center ;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:70px;
}
.divGrafico{
    text-align: center;
    align-items: center;
}
.GraficoConclusao{
    max-width: 30rem;
    max-height: 30rem;
}
.divPercentual{
    margin-top:  20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.percentualDeConclusao{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) , rgba(255,255,255, 0.8));
    width: 8rem;
    color: #00B4FE;
    border-radius: 25px;
    font-size: 3em;
    font-weight: 700;
}
.percentualDeNaoConclusao{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) , rgba(255,255,255, 0.8));
    width: 8rem;
    border-radius: 25px;
    color: #092FE5;;
    font-size: 3em;
    font-weight: 700;
}
.tituloConclusao{
    font-family: var(--font-infografico);
    color:#003585;
    font-size:50px;
}
.textoConclusaoProduto{
    font-weight: 500;
    color:#003585;
    font-size:30px;
    margin-top: 20px;
}
.descricaoConclusaoDetalhada{
    margin-top: 20px;
    display: flex;
    gap:30px;
}
.detalhesConclusao{
    display: flex;
    gap:10px;
}
.textoDescricao{    
    color: #003585;
    font-size: 25px;
    font-weight: 800;
}
/*situacao das atividades*/




/*Mapa interativo*/
.mapaInterativo{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction:row;
    gap:10rem;
}
.titulosMapa{
    max-width: 25rem;
    
}
.tituloMapaMaior{
    font-family: var(--font-infografico);
    font-size: 50px;
    font-weight: 800;
    color:  #003585;
    white-space: nowrap; 
    overflow: visible;

}
.tituloMapaMenor{
    font-family: var(--font-infografico);
    font-size: 35px;
    font-weight: 500;
    color: transparent;
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 1px#003585; 
}
.descricaoMapa{
    margin-top: 20px;
    font-family: var(--font-infografico);
    color:  #003585;
}
#map-container {
    position: relative;
    justify-content: center;

}
.imagemMapa{
    width: 100%;
    justify-content: center;
}

#map {
    text-align: center;
    align-items: center;
    width: 30rem;
    height: auto;
}

.marker {
    position: absolute;
    transform: translate(-90%, -20%);
}

.marker img {
    max-width: 20rem; 
    height: auto; 
    display: block;
}

.marker-text {
    text-align: center;
    font-family: var(--font-infografico);
    color: #00284E;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateX(-50%);
}
.marker-text-maior{
    font-weight: 600;
    font-size: 30px;
}
.marker-text-menor{
    font-size: 20px;
    color: transparent;
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 2px #00284E; 
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 100;
}

#big-circle {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8); 
}


