* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


/*HEADER*/
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue-primary);
    padding: 0 7%;
    height: 8vh;
    min-width: 100%;
    top: 0;
    /* position: fixed; */
}

.logo_header h4 {
    color: var(--white);
}

.buttons_center, .logo_header, .icons_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.buttons_center, .icons_right {
    gap: 2rem;
}

.buttons_center a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 3px;
}

.buttons_center a:hover{
   background-color: rgba(255, 255, 255, 0.2);
}

.btn-icon-header {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 3.5rem;
    left: 55%;
    border-radius: 5px;
    background-color: var(--secondary-color);
    cursor: pointer;
    z-index: 4;
}

.item {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    list-style-type: none;
}

.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.item a {
    text-decoration: none;
    color: var(--white);
}

.item a:hover {
    color: var(--white);
}

.icon-user {
    max-height: 25px;
    min-width: 25px;
}

.user {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.icons_right p {
    color: white;
    display: flex;
    align-items: center;
}

#administrar-dados {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.menuOculto {
    display: none;
}

.icons_right .user p {
    cursor: pointer;
}

.icons_right .user {
    padding: 0.5rem;
    border-radius: 3px;
}
.icons_right #sair {
    padding: 0.5rem;
    border-radius: 3px;
}
.icons_right #sair:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.icons_right .user:hover{
    background-color: rgba(255, 255, 255, 0.2);
}



@media screen and (max-width: 940px) {
    .buttons_center, .icons_right {
        gap: 0.5rem;
    }

    .user {
        gap: 0.3rem;
    }
}

@media screen and (max-width: 860px) {
    .btn-icon-header {
        display: block;
    }

    .buttons_center {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--secondary-color) ;
        max-height: 100%;
        min-width: 65%;
        padding: 1rem;
        animation-duration: 1s;
        margin-left: -200vw;
        gap: 1.5rem;
    }

    .user {
        margin-left: 1rem;
    }

    .logo_header {
        display: none;
    }
    .menuOculto {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    #administrar-dados {
        display: none;
    }

    #sair {
        display: none;
    }

    @keyframes showSidebar {
        from {
            margin-left: -200vw;
        }
        top {
            margin-left: -10vw;
        }
    }
}