* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


/*HEADER*/
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue-primary);
    padding: 0 7%;
    height: 8vh;
    min-width: 100%;
    top: 0;
    /* position: fixed; */
}

.logo_header h4 {
    color: var(--white);
}

.buttons_center, .logo_header, .icons_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.buttons_center, .icons_right {
    gap: 2rem;
}

.buttons_center a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 3px;
}

.buttons_center a:hover{
   background-color: rgba(255, 255, 255, 0.2);
}

.btn-icon-header {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 3.5rem;
    left: 55%;
    border-radius: 5px;
    background-color: var(--secondary-color);
    cursor: pointer;
    z-index: 4;
}

.item {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    list-style-type: none;
}

.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.item a {
    text-decoration: none;
    color: var(--white);
}

.item a:hover {
    color: var(--white);
}

.icon-user {
    max-height: 25px;
    min-width: 25px;
}

.user {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.icons_right p {
    color: white;
    display: flex;
    align-items: center;
}

#administrar-dados {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.menuOculto {
    display: none;
}

.icons_right .user, p {
    cursor: pointer;
}

.icons_right .user {
    padding: 0.5rem;
    border-radius: 3px;
}
.icons_right #sair {
    padding: 0.5rem;
    border-radius: 3px;
}
.icons_right #sair:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.icons_right .user:hover{
    background-color: rgba(255, 255, 255, 0.2);
}


/*MAIN*/


iframe {
    width: 100%;
    height: 100%;
    border: 0; /* Remova a borda do iframe, se necessário */
}
main{
    background-color: var(--purple-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 92vh ;
    padding: 20px;
    box-sizing: border-box;

}
.Conteudo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; 
}

.containerDaEsquerda, .containerDaDireita, .containerDoMeio{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.Filtro{
    background-color: var(--blue-primary);
    min-width: 20rem;
    max-width: 30rem;
    max-height: 10rem;
    color: white;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
}

.textoFiltro{
    font-size: 20px;
    font-weight: 700;
    
}

.SelectFiltro{
    margin: 10px;
    min-width: 90%;
    border-radius: 20px;
    max-height: 2rem;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}




.divGrafico1{
    background-color: var(--blue-primary);
    border-radius: 40px;
    padding: 20px;
    min-width: 15rem;
    max-width: 30rem;
    margin-top: 30px

}

.containerGrafico1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divContainerGrafico1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nomeDivGrafico1{
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size:20px;

}

.Grafico1 {
    max-width: 10rem;
    max-height: 10rem;
    margin-right: 20px;
}

.divPercentual{
    color:white;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.percentualDeConclusao{
    font-size: 3em;
    font-weight: 700;
    color: #0EB000;
}
.percentualDeNaoConclusao{
    font-size: 3em;
    font-weight: 700;
    color:#D00000;
}

/*Grafico 2*/


.divGrafico2{
    background-color: var(--blue-primary);
    display: flex;
    flex-direction: column;
    min-height: 50rem;
    min-width:15rem;
    max-width:30rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 20px;
    
}

.containerGrafico2{
    display: flex;
    flex-direction: column;
    object-fit: contain;
    box-sizing: border-box;
}

.divNomePerfilGrafico2{
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
}


.imagemPerfil {
    position: absolute;
    min-width: 8rem;
    z-index: 999;
    right: 40px;
    left: 0;
    top:0;
    bottom: 2px;
}


.nomeDoPerfilGrafico2{
    position: absolute;
    top:20px;
    left: 80px;
    color: var(--white);
    border: 1px solid white;
    border-radius: 20px;
    min-width: 11rem;
    max-width: 25rem;
    width: 70%;
    min-height: 1rem;
    max-height: 3rem;
    word-wrap: break-word;
    border-color: white;
    margin-right: 20px;
    box-sizing: border-box;
    padding: 3px;
}


.divContainerGrafico2{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.Grafico2{
    margin-top: 60px;
    max-width: 8rem;
    max-height: 8rem;
    margin-right: 10px;

}
.divDescricaoGrafico2{
    margin-top: 120px;
    text-align: center;
}




/*Grafico 3*/


.containerGrafico3{
    margin-top: 30px;
    background-color: var(--blue-primary);
    min-width:20rem;
    max-width: 30rem;


    padding: 20px;
    border-radius: 40px;
    justify-content: space-between;
}
.nomeDivGrafico3{
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size:20px;
}

.Grafico3{
    max-width: 10rem;
    max-height: 10rem;
    margin-right: 2ch;

}
.divContainerGrafico3{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    
}

.divPorcentageGrafico3{
    color:red;
    font-size: 2.5em;
    font-weight: 800;
    
}
.maiorStatusDeEntrega{
    font-size:1em;
    color:red;
    font-weight: 600;
}

/*Grafico 4*/

.containerGrafico4{
    margin-top: 30px;
    background-color: var(--blue-primary);
    min-width:20rem;
    max-width: 30rem;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
   
  

}
.imagemgrafico4{
    min-width: 5rem;
}
.divDescricaoGrafico4{
    margin-top: 20px;
    text-align: center;
}
.divDescricaodetalhadaGrafico4{
    margin-top: 10px;
    text-align: center;
}

/*Grafico 5*/


.containerGrafico5{
    margin-top: 30px;
    background-color: var(--blue-primary);
    min-width:15rem;
    max-width: 30rem;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
   
}
.imagemgrafico5{
    min-width: 5rem;
}
.divDescricaoGrafico5{
    margin-top: 20px;
    text-align: center;
}
.nomeDoPerfilGrafico5{
    font-size: 20px;
    font-weight: 700;

}
.divDescricaodetalhadaGrafico5{
    margin-top: 10px;
    text-align: center;
}


/*Grafico 6*/

.containerGrafico6{
    background-color: var(--blue-primary);
    min-width:20rem;
    max-width:30rem;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
.tituloGrafico6{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
.imagemgrafico6{
    min-width: 5rem;
}
.containerMenorGrafico6{
    display: flex;
    flex-direction: row;
}

.divQuantidadeAtividades, .divQuantidadeAtividadesEntreges{
    display: flex;
    flex-direction: row;
   
}

.divDescricaoGrafico6, .divDescricaodetalhadaGrafico6{
   padding: 10px;
   min-width: 80%;
}

.quantidadeAtividades, .quantidadeAtividadesEntreges{
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 2em;
    height: 1.5em;
    font-size: 30px;
    font-weight: 700;
    background-color: #144C75;
}





.containerGrafico7{
    margin-top: 30px;
    background-color: var(--blue-primary);
    min-width:20rem;
    max-width: 30rem;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
.imagemgrafico7{
    min-width: 5rem;
}


@media screen and (max-width: 940px) {
    .buttons_center, .icons_right {
        gap: 0.5rem;
    }

    .user {
        gap: 0.3rem;
    }
}

@media screen and (max-width: 860px) {
    .btn-icon-header {
        display: block;
    }

    .buttons_center {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--secondary-color) ;
        max-height: 100%;
        min-width: 65%;
        padding: 1rem;
        animation-duration: 1s;
        margin-left: -200vw;
        gap: 1.5rem;
    }

    .user {
        margin-left: 1rem;
    }

    .logo_header {
        display: none;
    }
    .menuOculto {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    #administrar-dados {
        display: none;
    }

    #sair {
        display: none;
    }

    @keyframes showSidebar {
        from {
            margin-left: -200vw;
        }
        top {
            margin-left: -10vw;
        }
    }
}