* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


/*HEADER*/
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue-primary);
    padding: 0 7%;
    height: 8vh;
    min-width: 100%;
    top: 0;
    /* position: fixed; */
}

.logo_header h4 {
    color: var(--white);
}

.buttons_center, .logo_header, .icons_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.buttons_center, .icons_right {
    gap: 2rem;
}

.buttons_center a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 3px;
}

.buttons_center a:hover{
   background-color: rgba(255, 255, 255, 0.2);
}

.btn-icon-header {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 3.5rem;
    left: 55%;
    border-radius: 5px;
    background-color: var(--secondary-color);
    cursor: pointer;
    z-index: 4;
}

.item {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    list-style-type: none;
}

.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.item a {
    text-decoration: none;
    color: var(--white);
}

.item a:hover {
    color: var(--white);
}

.icon-user {
    max-height: 25px;
    min-width: 25px;
}

.user {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.icons_right p {
    color: white;
    display: flex;
    align-items: center;
}

#administrar-dados {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.menuOculto {
    display: none;
}

.icons_right .user, p {
    cursor: pointer;
}

.icons_right .user {
    padding: 0.5rem;
    border-radius: 3px;
}
.icons_right #sair {
    padding: 0.5rem;
    border-radius: 3px;
}
.icons_right #sair:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.icons_right .user:hover{
    background-color: rgba(255, 255, 255, 0.2);
}


/*MAIN*/


iframe {
    width: 100%;
    border: 0;
    height: 92vh;
}

.main-infografico{
    background-color: var(--blue-secundary);
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    height: 92vh;

}
.main-dashboard{
    justify-content: center; 
    align-items: center; 
    height: 92vh;
}
.dashboard{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center; 
    align-items: center; 
}

.infografico{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 100%;
    align-items: center; 
}



.containerDaEsquerda,
.containerDoMeio,
.containerDaDireita {
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
}

.Filtro{
    background-color: var(--blue-primary);
    min-width: 20rem;
    min-height: 10%;
    color: white;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
}

.textoFiltro{
    font-size: 2em;
    font-weight: 700;
    
}

.SelectFiltro{
    margin: 10px;
    min-width: 90%;
    border-radius: 20px;
    min-height: 3rem;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

.AnaliseDados{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin: 20px;
} 

.divDado1, .divDado2, .divDado3, .divDado4, .divDado5, .divDado6{
    border-radius: 70px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 300px; 
    justify-content: center;
} 

.divDado1 img, .divDado2 img, .divDado3 img, .divDado4 img, .divDado5 img, .divDado6 img{
    width: 100px;
} 

.divDado1{
    background-color: rgb(7, 124, 124);
} 
.divDado2{
    background-color: rgb(4, 61, 61);
} 
.divDado3{
    background-color: rgb(44, 161, 60);
}
.divDado4{
    background-color: rgb(207, 188, 14);
} 
.divDado5{
    background-color: rgb(224, 156, 78);
} 
.divDado6{
    background-color: rgb(236, 84, 84);
} 



.boxgeral{
    text-align: center;
    background-color: #95b2ca;
    padding: 10px;
} 

.boxpag2{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 10px;
    background-color: #95b2ca;
    padding: 10px;
    margin: 20px;
} 

.cont1, .cont2, .cont3{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px; 
    justify-content: space-between;
} 

.cont1  img, .cont2  img, .cont3 img{
    width: 100px;
    height: 100px;
} 

.imagem-info2 {
    width: 50%;

}
.pag2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.textos2 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 50%;
}

.texto {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    gap: 2rem;
}

.texto-interno {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: self-start;
}

.texto-interno p{
    text-align: justify;
}

#titulo-pag2 {
    padding-bottom: 2rem
}


@media screen and (max-width: 940px) {
    .buttons_center, .icons_right {
        gap: 0.5rem;
    }

    .user {
        gap: 0.3rem;
    }
}

@media screen and (max-width: 860px) {
    .btn-icon-header {
        display: block;
    }

    .buttons_center {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--secondary-color) ;
        max-height: 100%;
        min-width: 65%;
        padding: 1rem;
        animation-duration: 1s;
        margin-left: -200vw;
        gap: 1.5rem;
    }

    .user {
        margin-left: 1rem;
    }

    .logo_header {
        display: none;
    }
    .menuOculto {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    #administrar-dados {
        display: none;
    }

    #sair {
        display: none;
    }

    @keyframes showSidebar {
        from {
            margin-left: -200vw;
        }
        top {
            margin-left: -10vw;
        }
    }
}