<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/graficos.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    
        <title>Sistema Acadêmico</title>

    </head>
    <body>
        <header class="header" id="header">
            <button onclick="toggleSidebar()" class="btn-icon-header" >
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
            <div class="logo_header">
                <h4>Controle de Atividades e Frequência</h4>
            </div>
            <div class="buttons_center" id="buttons_center">
                <button class="btn-icon-header" onclick="closeSidebar()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
                <a href="index.html">Inicio</a>
                <a href="dashboard.html" >Dashboard</a>
                <a href="">Infográfico</a>

               
            </div>
            
            <div id="dropdown-content" class="dropdown-content">
                <ul>
                    <li class=item id=item1><a href="#">Administrar Escolas</a></li>
                    <li class=item id=item2><a href="#">Administrar Supervisores</a></li>
                    <li class=item id=item3><a href="#">Administrar Professores</a></li>
                    <li class=item id=item4><a href="#">Administrar Alunos</a></li>
                    <li class=item id=item5><a href="#">Administrar Disciplinas</a></li>
                    <li class=item id=item6><a href="#">Administrar Turmas</a></li>
                </ul>
            </div>
        </header>
        
        <main id="mainContent">
            <section class="infografico" id="infografico">
                <div class="containerDaEsquerda">
                    <div class="Filtro" id="Filtro"></div>
                    <div class="divGrafico1" id="divGrafico1"></div>
                    <div class="divGrafico3" id="divGrafico3"></div>
                    <div class="divGrafico7" id="divGrafico7"></div>
                </div>
                
                <div class="containerDoMeio">
                    <div class="divGrafico6" id="divGrafico6"></div>
                    <div class="divGrafico4" id="divGrafico4"></div>
                    <div class="divGrafico5" id="divGrafico5"></div>
                </div>
                
                <div class="containerDaDireita">
                    <div class="divGrafico2" id="divGrafico2"></div>
                </div>
            </div>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/javascript/menu.js" ></script>
        <script src="../static/javascript/filtro.js" ></script>
        <script src="../static/javascript/grafico1.js" ></script>
        <script src="../static/javascript/grafico2.js" ></script>
        <script src="../static/javascript/grafico3.js" ></script>
        <script src="../static/javascript/grafico4.js" ></script>
        <script src="../static/javascript/grafico5.js" ></script>
        <script src="../static/javascript/grafico6.js" ></script>
        <script src="../static/javascript/grafico7.js" ></script>
    </body>
</html>