<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/graficos.css">
        <link rel="stylesheet" href="../static/css/carrosel.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gtEjrMzS4L/ro8+CtsIwF4hLvO7Ynpopnd1vqR8r7G0nDEP1CKwoj9bD+XnOi6q6" crossorigin="anonymous">

        <title>Sistema Acadêmico</title>

    </head>
    <body>
        <header class="header" id="header">
            <button onclick="toggleSidebar()" class="btn-icon-header" >
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
            <div class="logo_header">
                <h4>Controle de Atividades e Frequência</h4>
            </div>
            <div class="buttons_center" id="buttons_center">
                <button class="btn-icon-header" onclick="closeSidebar()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
                <a href="../index.html">Inicio</a>
                <a href="dashboard.html" >Dashboard</a>
                <a href="">Infográfico</a>

               
            </div>
            
            <div id="dropdown-content" class="dropdown-content">
                <ul>
                    <li class=item id=item1><a href="#">Administrar Escolas</a></li>
                    <li class=item id=item2><a href="#">Administrar Supervisores</a></li>
                    <li class=item id=item3><a href="#">Administrar Professores</a></li>
                    <li class=item id=item4><a href="#">Administrar Alunos</a></li>
                    <li class=item id=item5><a href="#">Administrar Disciplinas</a></li>
                    <li class=item id=item6><a href="#">Administrar Turmas</a></li>
                </ul>
            </div>
        </header>
        
        <main id="mainContent">
            <section class="infografico" id="infografico">
                <button id="prevButton" class="custom-icon-button">
                    <img class="img-icon-button" src="../static/images/icon-prev.svg" alt="Anterior">
                </button>
                <div class="carousel">
                    <div class="carousel-item active">
                        <div class=""> 
                            <img class="capaInfografico" src="../static/images/capaInfografico.svg" alt="Imagem 1">
                            <div class="tituloInfografico">
                                <h1>infografico</h1>
                                <p>Registro de Atividades e Frequência</p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                      <img src="../static/images/imagemdoperfil.svg" alt="Imagem 2">
                      <p>Texto 2</p>
                    </div>
                    <div class="carousel-item">
                        <h1 class="tituloPagina3">Análise de Entrega de Atividades</h1>
                        <table class="analiseAtividades">
                            <thead>
                              <tr>
                                <th class="colunaEntregue">
                                    <img class="iconeColuna" src="../static/images/imagemdoperfil.svg">
                                </th>
                                <th class="colunaEmAndamento">
                                    <img class="iconeColuna" src="../static/images/imagemdoperfil.svg">
                                </th>
                                <th class="colunaNaoEntregue">
                                    <img class="iconeColuna" src="../static/images/imagemdoperfil.svg">
                                </th>
                              </tr>
                            </thead>
                            <thead>
                                <tr>
                                  <th class="colunaNomeEntregue">Entregue</th>
                                  <th class="colunaNomeEmAndamento">Em Andamento</th>
                                  <th class="colunaNomeNaoEntregue">Não Entregue</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr id='atividadesEntregue'>
                                <td class="codigoAtividade">
                                    AM_1_3
                                </td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr id='atividadesEmAndamento'>
                                <td>AM_1_4 </td>
                                <td>AM_1_5 </td>
                                <td></td>
                              </tr>
                              <tr id='atividadesNaoEntregue'>
                                <td>AM_1_9 </td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="carousel-item">
                        <h1 class="tituloPagina4">Análise de Entregas por Usuário</h1>
                        <div class="AnaliseUsuarios">
                            <div class="divUsuario">
                                <h1 class="Nome Usuario">Usuario 1</h1>
                                <p>lorem ipsum</p>
                                <div class="grafico">

                                </div>
                                <h1>20%</h1>
                            </div>

                            <div class="divUsuario">
                                <h1>Usuario 2</h1>
                                <p>lorem ipsum</p>
                                <div class="grafico">

                                </div>
                                <h1>30%</h1>
                            </div>

                            <div class="divUsuario">
                                <h1>Usuario 3</h1>
                                <p>lorem ipsum</p>
                                <div class="grafico">

                                </div>
                                <h1>40%</h1>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <h1 class="tituloPagina5">Titulo</h1>
                        <div class="AnaliseDados">

                            <div class="divDado1">
                                <img src="../static/images/home/escola.png" alt="icone1">
                                <h1 class="Nome Usuario">Mars</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>

                            <div class="divDado2">
                                <img src="../static/images/home/escola.png" alt="icone1">
                                <h1 class="Nome Usuario">Mercury</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>

                            <div class="divDado3">
                                <img src="../static/images/home/escola.png" alt="icone1">
                                <h1 class="Nome Usuario">Saturn</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>


                            <div class="divDado4">
                                <img src="../static/images/home/escola.png" alt="icone1">
                                <h1 class="Nome Usuario">Jupiter</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>

                            
                            <div class="divDado5">
                                <img src="../static/images/home/escola.png" alt="icone1">
                                <h1 class="Nome Usuario">Neptune</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>

                            <div class="divDado6">
                                <img src="../static/images/home/escola.png" alt="icone1">
                                <h1 class="Nome Usuario">Venus</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>

                        </div>
                    </div>
                    
                </div>
                  
                 
                <button id="nextButton" class="custom-icon-button">
                    <img class="img-icon-button" src="../static/images/icon-next.svg" alt="Próximo">
                </button>
                  
            </section>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/javascript/menu.js" ></script>
        <script src="../static/javascript/carrosel.js"></script>
    </body>
</html>